@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 상단 - header */
.header {
  /* height: 960px; */
  position: relative;
}
/* 상단 - menu bar  */
.header_menu_bar {
  width: 90%;
  max-width: 1400px;
  min-width: 370px;
  height: 8%;
  min-height: 38px;
  background-color: transparent;
  display: flex;
  align-items: center;
  /* flex-direction: row-reverse; */
  justify-content: space-between;
  /* gap: calc(100% / 4 - 130px); */
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 999999;
  padding-right: 20px;
}
/* 스크롤시 배경색 변화 */
.scrolled {
  background-color: rgba(0, 0, 0, 0.35);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* 이미지 슬라이드 아이콘 색상 변경 */
.swiper-button-next:after,
.swiper-button-prev:after {
  color: rgba(255, 255, 255, 0.25);
}
.visual_swiper {
  position: relative;
}
/* .swiper-pagination{
  position: absolute;
  bottom: 0;
  left: 50%;
} */

/* .swiper-pagination-bullet {
  position: absolute;
  bottom: 2%;
  left: 50%;
  
} */
/* 동글 버튼 */
.swiper-pagination-bullet-active {
  background-color: #fff;
  position: absolute;
}
/* 상단 메뉴 바 안 요소들 */
.header_menu_bar span:first-child img {
  width: 32px;
  height: 32px;

  margin: 0px 15px;
}
.header_menu_bar span:nth-child(2) {
  /* font-size: 0.8rem; */
}
.header_menu_bar h1 {
  font-size: 2.6rem;
  line-height: 4.8rem;
}
/* 메뉴 바 안 메뉴 리스트 */
.nav {
  position: relative;
  display: block;
}
.header_menu_list {
  display: flex;
}
.header_menu_list li {
  margin: 0 15px;
  font-size: 1rem;
  color: #fff;
}

/* 메뉴 바 안 메뉴 리스트 호버 */
.header_menu_bar > span > a:hover,
.header_menu_bar > h1 > a:hover {
  color: rgba(0, 0, 0, 0.25);
}
.header_menu_list > li > a:hover {
  color: rgba(0, 0, 0, 0.25);
}
.header_menu_list > li:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

/* 헤더 안 이미지 리스트 */

.visual_swiper .swiper-slide {
  text-align: center;
  font-size: 1rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visual_swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.visual_swiper .swiper-slide {
  position: relative;
}
.header_text {
  position: absolute;
  bottom: 20%;
  left: 10%;
}
/* 헤더 안 텍스트 팝업 */
.header_text p {
  font-size: 1.3rem;
  margin-bottom: 1.6rem;
  color: #fff;
  text-align: left;
}
.header_text h2 {
  font-size: 2.6rem;
  color: #fff;
  font-weight: bold;
  margin-bottom: 1.6rem;
  text-align: left;
  position: relative;
}
.view_btn,
.cart_btn {
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #333;
  background-color: rgba(255, 255, 255, 0.5);
}
.view_btn {
  position: absolute;
  top: 132px;
  left: 0;
}
.cart_btn {
  position: absolute;
  top: 132px;
  left: 180px;
}
.view_btn > a,
.cart_btn > a {
  padding: 10px 20px;
  color: #333;
  font-weight: bold;
  font-size: 1.2rem;
}
/* 헤더 안 버튼 호버했을 때 */
.view_btn a:hover,
.cart_btn a:hover {
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
}

/* 반응형 구현 */
@media screen and (max-width: 1430px) {
  /* 메뉴바 */
  .header_menu_bar {
    width: 78%;
    height: 7%;
    justify-content: space-between;
    top: 140px;
    position: fixed;
  }
  .header_menu_bar > h1 {
    font-size: 28px;
  }

  /* 메뉴바 안 텍스트 */
  html {
    font-size: 13px;
  }
  /* 메뉴 바 안 메뉴 리스트 */
  .header_menu_list li {
    margin: 0 15px;
  }
  /* 헤더 안 텍스트 영역 */
  .header_text {
    position: absolute;
    bottom: 25%;
    left: 12%;
  }
  /* 슬라이드 이미지 안 상품 버튼 */
  .view_btn,
  .cart_btn {
    margin-right: 5px;
  }
  .view_btn {
    position: absolute;
    top: 114px;
    left: 0;
  }
  .cart_btn {
    position: absolute;
    top: 114px;
    left: 150px;
  }
  /* 헤더 메뉴바 안 메뉴 아이콘 */
  .header_menu_bar span:first-child img {
    width: 25px;
    height: 25px;
  }
  /* main 스와이퍼 텍스트 크기 조절 */
  .hover-text > p {
    height: 100px !important;
    font-size: 13px !important;
  }
  .hover-text > h2 {
    font-size: 17px !important;
  }
  .modal_content {
    height: 300px !important;
  }
  /* 섹션 안 텍스트 */
  .card_text {
    font: 1rem;
    z-index: 99999;
  }
  .card_text .txt1 {
    font-size: 12px !important;
    bottom: 75px;
    left: 3%;
  }
  .card_text .txt2 {
    position: absolute;
    right: 2%;
    bottom: 25px;
  }
  /* 프로덕트 카드  */
  .card_text .txt1 {
    font-size: 12px !important;
    bottom: 316px !important;
    left: 12% !important;
  }
  .card_text .txt2 {
    font-size: 12px !important;
    right: 12% !important;
    bottom: 218px !important;
  }
  /* 푸터 */
  .footer > .main_inner > div > h3 {
    font-size: 1.3rem !important;
    margin-top: 1.6rem !important;
  }
  .footer > .main_inner > .box_cs > h3:first-child {
    margin-top: 1rem !important;
  }
  .text_box {
    margin-top: 2.7rem !important;
}
  .text_box p {
    font-size: 11px !important;
    padding: 6px !important;
  }
  .box_sns > .text_box > a > img {
    width: 25px !important;
    height: 25px !important;
  }
}

@media screen and (max-width: 1100px) {
  /* 메뉴바 */
  .header_menu_bar {
    width: 75%;
    height: 5%;
    /* gap: calc(100% / 4 ); */
    justify-content: space-between;
    position: fixed;
    top: 100px;
  }
  .header_menu_bar > h1 {
    font-size: 25px;
  }
  /* main 스와이퍼 텍스트 크기 조절 */
  .hover-text > p:hover {
    overflow-y: auto;
  }

  /* 메뉴바 안 텍스트 */
  /* html {
    font-size: 11px;
  } */
  /* 메뉴 바 안 메뉴 리스트 */
  /* .header_menu_list li {
    margin: 0 8px;
  } */
  /* 헤더 안 텍스트 영역 */
  .header_text {
    position: absolute;
    bottom: 27%;
    left: 14%;
  }
  .header_text p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: #fff;
    text-align: left;
  }
  .header_text h2 {
    font-size: 1.8rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
  }

  /* 슬라이드 이미지 안 상품 버튼 */
  .view_btn,
  .cart_btn {
    margin-right: 3px;
  }
  .view_btn {
    position: absolute;
    top: 90px;
    left: 0;
  }
  .cart_btn {
    position: absolute;
    top: 90px;
    left: 140px;
  }
  /* 헤더 메뉴바 안 메뉴 아이콘 */
  .header_menu_bar span:first-child img {
    width: 20px;
    height: 20px;

    margin: 0px 19px;
  }

  /* 헤더 안 텍스트 팝업 */
  .view_btn > a,
  .cart_btn > a {
    padding: 8px 15px;
    font-size: 1.2rem;
  }
  /* main 스와이퍼 텍스트 크기 조절 */
  .main_top > h1,
  .main_bottom > h1 {
    font-size: 1.6rem !important;
  }
  .hover-text > h2 {
    font-size: 15px !important;
  }

  .hover-text > p {
    height: 80px !important;
    font-size: 11px !important;
  }
  /* 메인 프로덕트 */
  .main_product_wrap > h1 {
    font-size: 1.6rem !important;
  }
  /* 메인 플레이스 */
  .modal_content {
    height: 260px !important;
  }
  .desc_header > h3 {
    font-size: 0.9rem !important;
  }
  .desc_content > p {
    font-size: 0.8rem !important;
  }
  /* 프로덕트 카드  */
  .card_text .txt1 {
    font-size: 11px !important;
    bottom: 498px !important;
    left: 12% !important;
  }
  .card_text .txt2 {
    font-size: 12px !important;
    right: 12% !important;
    bottom: 440px !important;
  }
  /* 푸터 */
  .footer > .main_inner > div > h3 {
    font-size: 1rem !important;
    margin-top: 1.4rem !important;
  }
  .footer > .main_inner > .box_cs > h3:first-child {
    margin-top: 0.8rem !important;
  }
  .text_box {
    margin-top: 1.8rem !important;
}
  .text_box p {
    font-size: 10px !important;
    padding: 4px !important;
  }
  .box_sns > .text_box > a > img {
    width: 22px !important;
    height: 22px !important;
  }
}
@media screen and (max-width: 880px) {
  /* 메뉴바 */
  .header_menu_bar {
    width: 71%;
    height: 2%;
    justify-content: space-between;
    position: fixed;
    top: 85px;
  }
  html {
    font-size: 11px;
  }
  .header_menu_bar h1 {
    font-size: 21px;
  }

  /* 슬라이드 이미지 안 상품 버튼 */
  .header_text {
    position: absolute;
    bottom: 18%;
    left: 15%;
  }
  /* 헤더 안 텍스트 팝업 */
  .header_text p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #fff;
    text-align: left;
  }
  .header_text h2 {
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
  }
  .view_btn {
    position: absolute;
    top: 70px;
    left: 0;
  }
  .cart_btn {
    position: absolute;
    top: 70px;
    left: 130px;
  }
  .header_menu_bar nav {
    display: none;
  }
  /* 헤더 메뉴바 안 메뉴 아이콘 */
  .header_menu_bar span:first-child img {
    width: 15px;
    height: 15px;

    margin: 0px 19px;
  }
  /* main 스와이퍼 텍스트 크기 조절 */
  .main_top > h1,
  .main_bottom > h1 {
    font-size: 1.4rem !important;
  }
  .hover-text > h2 {
    font-size: 12px !important;
  }
  .hover-text > p {
    height: 60px !important;
    font-size: 9px !important;
  }
  /* 메인 프로덕트 */
  .main_product_wrap > h1 {
    font-size: 1.4rem !important;
  }
  /* 메인 플레이스 */
  .modal_content {
    height: 210px !important;
  }
  .desc_header > h3 {
    font-size: 0.9rem !important;
  }
  .desc_content > p {
    font-size: 0.7rem !important;
  }
  /* 인풋 태그 안 placeholder 크기 변경 */
  .desc_content > input::placeholder {
    font-size: 8px;
  }
  .desc_content > button {
    font-size: 8px;
    padding: 0.5rem !important;
  }
  /* 프로덕트 카드  */
  .card_text .txt1,
  .card_text .txt2 {
    font-size: 10px !important;
  }
  /* 푸터 */
  .footer .main_inner {
    width: 100% !important;
  }   
  .footer > .main_inner > div > h3 {
    font-size: 0.9rem !important;
    margin-top: 1rem !important;
  }
  .footer > .main_inner > .box_cs > h3:first-child {
    margin-top: 0.4rem !important;
  }
  .footer > .main_inner > .box_cs > h3:nth-child(2) {
    margin-top: 0.7rem !important;
 
}
  .text_box {
    margin-top: 1.1rem !important;
}
  .text_box p {
    font-size: 9px !important;
    padding: 2.7px !important;
  }
  .box_sns > .text_box > a > img {
    width: 17px !important;
    height: 17px !important;
  }

}
@media screen and (max-width: 580px) {
  .header_menu_bar {
    width: 68%;
    height: 0.2%;
    justify-content: space-between;
    position: fixed;
    top: 60px;
  }
  html {
    font-size: 8px;
  }
  .header_menu_bar h1 {
    font-size: 15px;
  }
  /* 슬라이드 이미지 안 상품 버튼 */
  .header_text {
    position: absolute;
    bottom: 18%;
    left: 15%;
  }
  /* 헤더 안 텍스트 팝업 */
  .header_text p {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    color: #fff;
    text-align: left;
  }
  .header_text h2 {
    font-size: 1.3rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
  }
  .view_btn {
    position: absolute;
    top: 40px;
    left: 0;
    margin-right: 5px;
  }
  .cart_btn {
    position: absolute;
    top: 40px;
    left: 75px;
  }
  .view_btn > a,
  .cart_btn > a {
    padding: 5px 10px;
    font-size: 1rem;
  }
  .header_menu_bar span:first-child img {
    width: 11px;
    height: 11px;

    margin: 0px 15px;
  }
  /* main 스와이퍼 텍스트 크기 조절 */
  .hover-text > p {
    display: none !important;
  }
  .hover-text > h2 {
    font-size: 8px !important;
  }
  .top_img:hover .hover-text > h2,
  .bottm_img:hover .hover-text > h2,
  .bt_top_img:hover .hover-text > h2,
  .bt_bottom_img:hover .hover-text > h2 {
    transform: translateY(15px) !important;
  }
  /* 메인 플레이스 */
  .modal_content {
    height: 140px !important;
  }
  .desc_header > h3 {
    font-size: 0.9rem !important;
  }
  .desc_content > p {
    font-size: 0.5rem !important;
  }
  /* 인풋 태그 안 placeholder 크기 변경 */
  .desc_content > input::placeholder {
    font-size: 5px;
    line-height: 5px;
  }
  .desc_content > input {
    height: 12px !important;
  }
  .desc_content > button {
    font-size: 5px;
    padding: 0.3rem !important;
  }
  /* 프로덕트 카드  */
  .card_text .txt1,
  .card_text .txt2 {
    font-size: 9px !important;
  }
    /* 푸터 */
    .footer .main_inner {
      width: 100% !important;
    }   
    .footer > .main_inner > div > h3 {
      font-size: 1.2rem !important;
      margin-top: 0.9rem !important;
    }
    .footer > .main_inner > .box_cs > h3:first-child {
      margin-top: 0.3rem !important;
    }
    .footer > .main_inner > .box_cs > h3:nth-child(2) {
      margin-top: 0.6rem !important;
   
  }
    .text_box {
      margin-top: 1.2rem !important;
  }
    .text_box p {
      font-size: 7px !important;
      padding: 3px !important;
    }
    .box_sns > .text_box > a > img {
      width: 12px !important;
      height: 12px !important;
    }
}
@media screen and (max-width: 390px) {
  /* 메인 플레이스 */
  .modal {
    top: 15% !important;
  }
  .modal_content {
    height: 100px !important;
  }
  .desc_header > h3 {
    font-size: 0.7rem !important;
  }
  /* 인풋 태그 안 placeholder 크기 변경 */
  .desc_content > input::placeholder {
    font-size: 4px;
    line-height: 3px;
  }
  .desc_content > input {
    height: 10px !important;
  }
  .desc_content > button {
    font-size: 4px;
    padding: 0.2rem !important;
  }
  /* 프로덕트 카드  */
  .card_text .txt1,
  .card_text .txt2 {
    font-size: 8px !important;
  }
}
