@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  position: relative;
  height: 3000px;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
a {
  display: block;
  text-decoration: none;
  color: #fff;
}
ul,
li {
  list-style: none;
}
/* 큰 레이아웃 */
.contanier {
  width: 100%;
  height: 100%;
}
/* 상단 - header */
.header {
  width: ;
  height: 960px;
  background-color: aqua;
  position: relative;
}
/* 상단 - menu bar  */
.header_menu_bar {
  width: 1582px;
  height: 72px;
  background-color: rgba(255, 255, 255, 25%);
  display: flex;
  align-items: center;
  gap: calc(100% / 4 - 170px);
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  position: fixed;
}
/* 상단 메뉴 바 안 요소들 */
.header_menu_bar span:first-child img {
  width: 32px;
  height: 37.8px;
  margin: 0px 15px;
}
.header_menu_bar span:nth-child(2) {
  font-size: 20px;
}
.header_menu_bar h1 {
  font-size: 40px;
  line-height: 72px;
}
/* 메뉴 바 안 메뉴 리스트 */
.nav {
  position: relative;
  display: block;
}
.header_menu_list {
  display: flex;
}
.header_menu_list li {
  margin: 0 20px;
  font-size: 20px;
  color: #fff;
}
.header_menu_list .li_shop {
  position: relative;
  cursor: pointer;
}
.depth2 {
  display: none;
  position: absolute;
  top: 47px;
  left: -35px;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  list-style: none;
}
.depth2 > li > a {
  display: block;
  padding: 20px;
  text-align: left;
}
.depth2 > li > a:last-child {
  padding-bottom: 20px;
}

/* 메뉴 바 안 메뉴 리스트 호버 */
.header_menu_bar > span > a:hover,
.header_menu_bar > h1 > a:hover {
  color: rgba(0, 0, 0, 0.25);
}
.header_menu_list > li > a:hover {
  color: rgba(0, 0, 0, 0.25);
}
.header_menu_list > .li_shop:hover {
  background-color: #ddd;
}
.depth2 > .li_shop:hover {
  background-color: rgba(0, 0, 0, 0.25);
}
.header_menu_list > .li_shop:hover .depth2 {
  display: block;
}
/* 에니메이션 추가 */
.depth2 {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visivility 0s 0.3s;
  /* 사라질때 딜레이 */
}
.header_menu_list .li_shop:hover .depth2 {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease;
  /* 나타날때 */
}

/* 헤더 안 이미지 리스트 */

.visual_swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.visual_swiper .swiper-slide {
  position: relative;
}
.header_text {
  position: absolute;
  bottom: 20%;
  left: 10%;
}
/* 헤더 안 텍스트 팝업 */
.header_text p {
  font-size: 20px;
  margin-bottom: 25px;
  color: #fff;
  text-align: left;
}
.header_text h2 {
  font-size: 39px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: left;
  position: relative;
}
.view_btn,
.cart_btn {
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #333;
  background-color: rgba(255, 255, 255, 0.5);
}
.view_btn {
  position: absolute;
  top: 114px;
  left: 0;
}
.cart_btn {
  position: absolute;
  top: 114px;
  left: 180px;
}
.view_btn > a,
.cart_btn > a {
  padding: 10px 20px;
  color: #333;
  font-weight: bold;
  font-size: 18px;
}
/* 헤더 안 버튼 호버했을 때 */
.view_btn a:hover,
.cart_btn a:hover {
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
}
